@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Roboto&display=swap');

:root {
    --header-height: 80px;
    --footer-height: 50px;
    --body-height: calc(100vh - var(--header-height) - var(--footer-height));
}

* {
    margin: 0;
}

.LandHeader {
    width: 100vw;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f1f1f;
    padding: 0 100px;
}

.LandBody {
    width: 100vw;
    height: var(--body-height);
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}

.LandBody > .about-cont {
    width: 500px;
    height: 550px;
    color: white;
}

.LandBody > .about-cont > h1 {
    font-size: 3.5rem;
    margin: 40px 0;
}

.LandBody > .register-cont {
    width: 400px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 75px 20px;
}

.register-inner-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 350px;
}

.register-input-cont {
    margin-bottom: 20px;
}

.register-input-cont input {
    width: 250px;
    margin-top: 10px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    text-decoration: none;
    padding-left: 10px;
}

.register-input-cont input:focus {
    outline: none;
}

.errorMsg {
    font-size: 0.8rem;
    color: red;
}

.LandBody > * {
    margin: 0 50px;
}

.LandBody > .register-cont {
    background-color: white;
    color: black;
}

.login-btn, .register-btn {
    background-color: transparent;
    color: #ff1f5e;
    text-decoration: none;
    width: 125px;
    height: 45px;
    border-radius: 20px;
    border: 2px solid #ff1f5e;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    transition: ease-in-out 0.5s;
    margin: 0 10px;
}

.register-btn {
    color: black;
    border: 2px solid black;
}

.login-btn:hover {
    color: #9305ff;
    border: 2px solid #9305ff;
}

.Logo {
    font-family: 'Cormorant Garamond', serif;
    font-size: 3rem;
    color: white;
}

.LandFooter {
    width: 100vw;
    height: var(--footer-height);
    background-color: #1f1f1f;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 40px;
}